{% extends 'base.html' %}
{% load static %}
{% block title %}Information{% endblock %}

{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="autor" content="Serepok" />
    <meta name="desctiption" content="Подобие сайта ИМКТ." />
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon" />
{% endblock %}
<!-- IconFont and Stylesheet -->
{% block link %}
    <!--include bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!--include css and js-->
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
    <header>
        {% include "header.html" %}
    </header>
    <body>
    {% include "navbar.html" %}

    <div class="row my-center-sub my-container-quiz" id="quiz-questions">
        <div class="my-container-sub1 col-12">
            <input type="text" class="form-control my-good-inp" id="my-name" placeholder="Введите своё имя">
        </div>

        <div class="my-container-sub">
            <div class="my-center-sub">
                <img alt="prog" src="{% static 'img/row.jpg' %}" class="my-good-img col-8">
            </div>
            <div class="my-center-sub">
                <select class="form-select" aria-label="Пример выбора по умолчанию">
                  <option value="1">Это великолепно!</option>
                  <option value="2">WTF?</option>
                </select>
            </div>
        </div>

        <div class="my-container-sub">
            <div class="row">
                <h2 class="my-h-sub">Какой ваш любимый ЯП?</h2>
                <div class="col-6">
                    <img alt="prog" src="{% static 'img/1С++.png' %}" class="my-good-c col-8">
                </div>
                <div class="col-6 my-center-sub my-text">
                    <form>
                        <div class="form-check">
                          <label class="form-check-label" for="flexCheckDefault1">
                            C
                          </label>
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                        </div>
                        <div class="form-check">
                          <label class="form-check-label" for="flexCheckDefault2">
                            C++
                          </label>
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                        </div>
                        <div class="form-check">
                          <label class="form-check-label" for="flexCheckDefault2">
                            1C
                          </label>
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                        </div>
                        <div class="form-check">
                          <label class="form-check-label" for="flexCheckDefault2">
                            ++C
                          </label>
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="my-container-sub">
            <form>
                <h2 class="my-h-sub">Выберите</h2>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                      <img alt="prog" src="{% static 'img/MATHhub.png' %}" class="my-good-hub col-10">
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                  <label class="form-check-label" for="flexRadioDefault2">
                      <img alt="prog" src="{% static 'img/tag.jpg' %}" class="my-good-tag col-12">
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                  <label class="form-check-label" for="flexRadioDefault3">
                      <img alt="prog" src="{% static 'img/FlutterAchivment.png' %}" class="my-good-as col-12">
                  </label>
                </div>
            </form>
        </div>

        <div class="my-container-sub1 col-12">
            <button type="button" onclick="result()" class="btn btn-outline-primary col-12 my-good-inp">Перейти к результатам</button>
        </div>
    </div>

    <script>
        function result(){
            // получение данных

            $.ajax({
                type: "POST",
                url: "{% url 'quiz_submit' %}",
                data: data,
                processData: false,
                contentType: false,
                success: function(response) {
                    // Обработка успешного ответа от сервера
                    console.log(response);
                    // Скрытие элементов
                    document.getElementById("button-inp").style.display = "none";
                    document.getElementById("mail-inp").style.display = "none";
                    document.getElementById("thx-id").style.display = "block";
                },
                error: function(error) {
                    // Обработка ошибки
                    console.log(error);
                }
            });

            $.ajax({
                url: '{% url 'statistic' %}', // URL вашего представления
                type: 'GET',
                success: function(response) {
                    my_name = document.getElementById('my-name');
                    my_name.value = response['name'];
                    console.log(response);
                }
            });
        }
    </script>

    </body>
    {% include "footer.html" %}

    <!-- Javascript Inc-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"/>

{% endblock %}