{% extends 'base.html' %}
{% load static %}
{% block title %}Information{% endblock %}

{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="autor" content="Serepok" />
    <meta name="desctiption" content="Подобие сайта ИМКТ." />
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon" />
{% endblock %}
<!-- IconFont and Stylesheet -->
{% block link %}
    <!--include bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!--include css and js-->
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
    <header>
        {% include "header.html" %}
    </header>
    <body>
    {% include "navbar.html" %}

    <div class="row my-center-sub my-container-quiz" id="quiz-questions">
        <div id='my-container-1' class="my-container-sub1 col-12">
            <input type="text" class="form-control my-good-inp" id="my-name" placeholder="Введите своё имя">
        </div>

        <div id='my-container-2' class="my-container-sub">
            <div class="my-center-sub">
                <img alt="prog" src="{% static 'img/row.jpg' %}" class="my-good-img col-8">
            </div>
            <div class="my-center-sub">
                <select class="form-select" id="my-good-program-select">
                  <option value="good">Это великолепно!</option>
                  <option value="bad">WTF?</option>
                </select>
            </div>
        </div>

        <div id='my-container-3' class="my-container-sub">
            <div class="row">
                <h2 class="my-h-sub">Какой ваш любимый ЯП?</h2>
                <div class="col-6">
                    <img alt="prog" src="{% static 'img/1С++.png' %}" class="my-good-c col-8">
                </div>
                <div class="col-6 my-center-sub my-text">
                    <form>
                        <div class="form-check">
                          <label class="form-check-label" for="flexCheckDefault1">
                            C
                          </label>
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                        </div>
                        <div class="form-check">
                          <label class="form-check-label" for="flexCheckDefault2">
                            C++
                          </label>
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                        </div>
                        <div class="form-check">
                          <label class="form-check-label" for="flexCheckDefault3">
                            C#
                          </label>
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                        </div>
                        <div class="form-check">
                          <label class="form-check-label" for="flexCheckDefault4">
                            1C
                          </label>
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                        </div>
                        <div class="form-check">
                          <label class="form-check-label" for="flexCheckDefault5">
                            ++C
                          </label>
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id='my-container-4' class="my-container-sub">
            <form>
                <h2 class="my-h-sub" id="my-h-id">Выберите</h2>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                      <img alt="prog" src="{% static 'img/MATHhub.png' %}" class="my-good-hub col-10">
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                  <label class="form-check-label" for="flexRadioDefault2">
                      <img alt="prog" src="{% static 'img/tag.jpg' %}" class="my-good-tag col-12">
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                  <label class="form-check-label" for="flexRadioDefault3">
                      <img alt="prog" src="{% static 'img/FlutterAchivment.png' %}" class="my-good-as col-12">
                  </label>
                </div>
            </form>
        </div>

        <div id='my-container-5' class="my-container-sub1 col-12">
            <button type="button" onclick="result()" class="btn btn-outline-primary col-12 my-good-inp">Перейти к результатам</button>
        </div>

        <div id='my-container-6' class="my-container-sub col-12" style="display: none">
            <div class="my-center-sub1 col-8"><h4>Программу оценили:</h4></div>
            <div class="row">
                <input class="col-6 my-good-inp" id="my-prog1" type="text" value="" readonly>
                <input class="col-6 my-good-inp" id="my-prog2" type="text" value="" readonly>
            </div>
        </div>

        <div id='my-container-7' class="my-container-sub my-center-sub row" style="display: none">
            <h4>Языки програмирования выбрали:</h4>
            <input class="col-8 my-good-inp pad-cls" id="my-lang1" type="text" value="" readonly>
            <input class="col-8 my-good-inp pad-cls" id="my-lang2" type="text" value="" readonly>
            <input class="col-8 my-good-inp pad-cls" id="my-lang3" type="text" value="" readonly>
            <input class="col-8 my-good-inp pad-cls" id="my-lang4" type="text" value="" readonly>
            <input class="col-8 my-good-inp pad-cls" id="my-lang5" type="text" value="" readonly>
        </div>

        <div id='my-container-8' class="my-container-sub my-center-sub row" style="display: none">
            <h4>Картину выбрали:</h4>
            <input class="col-8 my-good-inp pad-cls" id="my-img1" type="text" value="" readonly>
            <input class="col-8 my-good-inp pad-cls" id="my-img2" type="text" value="" readonly>
            <input class="col-8 my-good-inp pad-cls" id="my-img3" type="text" value="" readonly>
        </div>
    </div>

    <script>
        document.getElementById('my-h-id').style.color = 'white';
        function scrollToHeight(height) {
          window.scrollTo({
            top: height,
            behavior: 'smooth' //Добавляет плавность прокрутке
          });
        }
        function result(){
            // получение данных
            let data = new FormData();
            let name = document.getElementById('my-name').value;
            data.append('name', name);
            let good_program = document.getElementById('my-good-program-select').value;
            data.append('my_good_program', good_program);
            let favorite1 = document.getElementById('flexCheckDefault1');
            if (favorite1.checked) {
                data.append('favorite1', '1');
            }
            else{
                data.append('favorite1', '0');
            }
            let favorite2 = document.getElementById('flexCheckDefault2');
            if (favorite2.checked) {
                data.append('favorite2', '1');
            }
            else{
                data.append('favorite2', '0');
            }
            let favorite3 = document.getElementById('flexCheckDefault3');
            if (favorite3.checked) {
                data.append('favorite3', '1');
            }
            else{
                data.append('favorite3', '0');
            }
            let favorite4 = document.getElementById('flexCheckDefault4');
            if (favorite4.checked) {
                data.append('favorite4', '1');
            }
            else{
                data.append('favorite4', '0');
            }
            let favorite5 = document.getElementById('flexCheckDefault5');
            if (favorite5.checked) {
                data.append('favorite5', '1');
            }
            else{
                data.append('favorite5', '0');
            }
            let favorite_png1 = document.getElementById('flexRadioDefault1');
            let favorite_png2 = document.getElementById('flexRadioDefault2');
            let favorite_png3 = document.getElementById('flexRadioDefault3');
            if (favorite_png1.checked) {
                data.append('favorite_png', '1');
            }
            else if (favorite_png2.checked){
                data.append('favorite_png', '2');
            }
            else{
                data.append('favorite_png', '3');
            }
            if (name == ''){
                document.getElementById('my-name').placeholder = 'Пожалуйста, введите имя!';
                scrollToHeight(0);
                if(!favorite_png1.checked && !favorite_png2.checked && !favorite_png3.checked) {
                    document.querySelector('#my-h-id').innerHTML = 'Пожалуйста, выберите хотя бы одну картинку!';
                }
            }
            else if(!favorite_png1.checked && !favorite_png2.checked && !favorite_png3.checked){
                document.querySelector('#my-h-id').innerHTML = 'Пожалуйста, выберите хотя бы одну картинку!';
                scrollToHeight(1900);
            }
            else{
                $.ajax({
                    type: "POST",
                    url: "{% url 'quiz_submit' %}",
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        // Обработка успешного ответа от сервера
                        console.log(response);
                        // Скрытие элементов
                        document.getElementById("my-container-1").style.display = "none";
                        document.getElementById("my-container-2").style.display = "none";
                        document.getElementById("my-container-3").style.display = "none";
                        document.getElementById("my-container-4").style.display = "none";
                        document.getElementById("my-container-5").style.display = "none";
                        document.getElementById("my-container-6").style.display = "block";
                        document.getElementById("my-container-7").style.display = "block";
                        document.getElementById("my-container-8").style.display = "block";

                        $.ajax({
                            url: '{% url 'statistic' %}',
                            type: 'GET',
                            success: function(response) {
                                document.getElementById('my-prog1').value = 'Положительно:' + response['program'][0].toString() + '%';
                                document.getElementById('my-prog2').value = 'Отрицательно:' + response['program'][1].toString() + '%';

                                document.getElementById('my-lang1').value = 'С выбрали:' + response['language'][0].toString() + '%';
                                document.getElementById('my-lang2').value = 'С++ выбрали:' + response['language'][1].toString() + '%';
                                document.getElementById('my-lang3').value = 'С# выбрали:' + response['language'][2].toString() + '%';
                                document.getElementById('my-lang4').value = '1С выбрали:' + response['language'][3].toString() + '%';
                                document.getElementById('my-lang5').value = '++С выбрали:' + response['language'][4].toString() + '%';

                                document.getElementById('my-img1').value = '1 картинку выбрали:' + response['favorite'][0].toString() + '%';
                                document.getElementById('my-img2').value = '2 картинку выбрали:' + response['favorite'][1].toString() + '%';
                                document.getElementById('my-img3').value = '3 картинку выбрали:' + response['favorite'][2].toString() + '%';

                                console.log(response);
                            }
                        });
                    },
                    error: function(error) {
                        // Обработка ошибки
                        console.log(error);
                    }
                });
            }
        }
    </script>

    </body>
    {% include "footer.html" %}

    <!-- Javascript Inc-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"/>

{% endblock %}